<div class="page-header">
  <h1>Survey0#show</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div id="survey-form"></div>
  </div>
</div>

<%= javascript_pack_tag "survey0/show" %>
