<div class="page-header">
  <h1>Survey1#show</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div id="survey-form">
      <form>
        <div class="form-group">
          <label for="user-name">お名前</label>
          <input type="text" name="user[name]" id="user-name"
            class="form-control" style="width: 300px"
            v-model="user.name">
        </div>
        <div class="form-group">
          <label for="user-name">もっとも得意なプログラミング言語</label>
          <div>
            <label>
              <input type="radio" name="user[language]" id="user-language"
                v-model="user.language" value="ruby"> Ruby
            </label>
            <label>
              <input type="radio" name="user[language]" id="user-language"
                v-model="user.language" value="php"> PHP
            </label>
            <label>
              <input type="radio" name="user[language]" id="user-language"
                v-model="user.language" value="other"> その他
            </label>
          </div>
        </div>
        <div class="form-group" v-show="user.language === 'other'">
          <label for="user-other-language">（具体的に）</label>
          <input type="text" name="user[other_language]" id="user-language"
            style="display: inline; width: auto"
            class="form-control" v-model="user.other_language">
        </div>
        <button type="submit" class="btn btn-primary">送信</button>
      </form>
    </div>
  </div>
</div>

<%= javascript_pack_tag "survey1/show" %>
<%= stylesheet_pack_tag "survey1/show" %>
