<!DOCTYPE html>
<html>
  <head>
    <title>TamachiVue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
